
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="flex-grow-0">
        <a aria-label="Home" class="logo" routerLink="/">
            <svg xmlns="http://www.w3.org/2000/svg" class="feection-icon-svg" viewBox="0 0 16 16"> 
             <path d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z"/> 
            </svg> 
        </a>
      </div>
          <div class="name-container">  
                <span class="feection-text">
                  Feection
                </span>
          </div>
       
      
      <div class="float-right">
        <button routerLink="/login" class="float-right login mr-2">Login</button>
        <button routerLink="/sign-up" class="float-right signup mr-2">Sign up</button>
      </div>
    </nav>
  </header>