
.login{
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: larger;
    box-sizing: border-box;
    border-radius: 90px;
    padding: 2px 12px;

}

  .login-section{
    margin: 300px;
}
 
.login-failed-text{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;    
    color: aliceblue;
}
.login-failed, .register-success{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 65%;    
}

 .register-success-text{
    background-color: lightgreen;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: larger;
    box-sizing: border-box;
    border-radius: 90px;
    padding: 2px 12px;
    box-shadow: black;
}
.login-failed-text{
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: larger;
    box-sizing: border-box;
    border-radius: 90px;
    padding: 2px 12px;
    box-shadow: black;
}

