<div  *ngFor="let post of posts$">
                  <!-- Section to Display Post Information-->
                    <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12" >
                      <span class="category-info">
                          <span class="category-text"><a class="posturl" routerLink="">{{post.categoryName}}</a></span>
                          
                          <span> . {{post.createdDate | date:'fullDate'}}</span>
                      </span>
                      
                      <hr />



                      <div class="post-block">

                        <div class="post-title">
                          <span class="postname"> {{post.title}}</span>
                        </div>

                      <div>
                      <div class="post-photo" >
                        <img class = "thumbnail" src="{{'data:image/jpg;base64,' + post.mainImage}}" />
                      </div>
                      <hr />
                      <div class="post-text-field">

                        <div class="post-text">
                          <span >Posted by:  {{post.username}}</span>
                          <br>
                          <span class = "price" style="color: black">Price: {{post.price}}zł</span>
                          <br>
                          <span class="fee">Fee: {{post.fee}}zł</span>
                        </div>
                      </div> 
                      

                                  
                    </div>


              </div>
      
              <!-- <span>
                <button class="login" (click)="goToPost(post.id)">
                  Read Post
                </button>
              </span> -->
            </div>
          </div>