input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.row{
    margin-bottom: 10px;
}

.signup {
    cursor: pointer;
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
    border-radius: 90px;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: black;
    color: whitesmoke;
    margin-right: 60px;
}

.sign-up {
    background-color: black;
    color: aliceblue;
    fill: #0079D3;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
  }
